.App {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title-statistic {
  margin-left: 25px;
}


.MuiGrid-direction-xs-column {
  flex-direction: column;
  padding-left: 20%;
}


.MuiPaper-rounded {
  border-radius: 10px !important;
}
.MuiCardContent-root {
  padding: 10px !important;
}

.search-bar {
  padding-left: 5% !important;
}
